@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Phinma Coc Carmen<br />
    Group Octavio<br />
    <abbr title="Phone">P:</abbr>
    09058342601
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lynmuel34@gmail.com">lynmuel34@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:lynmuel34@gmail.com">lynmuel34@gmail.com</a>
</address>
