@{
    ViewBag.Title = "Home Page";
}


<head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Page Wonder - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="Content/one-page-wonder.min.css" rel="stylesheet">
  

<style>

.noMargin {
  margin: 0px;
}

.one {
  background-color: red;
   width: 25%;
  padding: 10px;
  height: 100px;
}

.two {
  background-color: yellow;
  width: 25%;
  padding: 10px;
  height: 100px;
}

.three {
  background-color: green;
  width: 25%;
  padding: 10px;
  height: 100px;
}

.four {
  background-color: blue;
  width: 25%;
  padding: 10px;
  height: 100px;
}
    .control-section {
        overflow: auto;
    }

    @@media only screen and (max-width: 400px) {
        .sample_container.badge-default .e-btn-group {
            left: calc(50% - 111px);
        }

        .sample_container.badge-default #task {
            display: none;
        }
    }

    .sample_container.badge-default {
        max-width: 328px;
        margin: auto;
        margin-top: 130px;
    }

    .badge-default .e-btn {
        position: relative;
    }

    .badge-default .e-bigger .e-btn {
        padding: 3px 10px;
    }


   .e-btn {

    font-size: 20px;
    width: 50px;
   }
   


    /* Group Button Customization */

    .badge-default .e-btn-group {
        width: auto;
        position: relative;
        left: calc(50% - 164px);
    }

    .e-btn-group.e-custom-button {
        box-shadow: none;
         font-size: 20px;
          width: 200px;
    }

        .highcontrast .e-btn-group.e-custom-button .e-btn:focus {
            outline: 0px;
            color: white;
        }

    .fabric .e-btn-group.e-custom-button .e-btn,
    .material .e-btn-group.e-custom-button .e-btn,
    .bootstrap .e-btn-group.e-custom-button .e-btn {
        background: #F6F7F9;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        text-transform: initial;
    }

    #update.e-btn {
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        border-right: 1px dotted #aaa;
        width: 100px;
    }

    #task.e-btn {
        border-right: 1px dotted #aaa;
        width: 100px;
    }

    #notify.e-btn {
        padding-left: 24px;
        padding-right: 24px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }

    .default .e-badge.e-badge-overlap {
        transform: translateX(-110%);
        z-index: 100;
    }
  #header 
  {
	  background: url(https://cdn.pixabay.com/photo/2019/10/27/07/31/screen-background-4580904_960_720.jpg) center center / cover no-repeat ;
	   height: 500px;
	  max-width: 100%;
  }
h1{
  font-family: "Lucida Console";
	font-size: 40px; 
}
</style>
</head>


    
    
       

<div class="container">

  <header class="masthead  text-white">
   <section id="header" class="jumbotron text-center">
   
</section>
  </header>

<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
          <h4>@ViewBag.date</h4>
            <img class="img-fluid rounded-circle" src="Content/octavio.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
         <h2 class="display-5">Muelver Octavio</h2>
             <h4 class="display-5" style="color: red;">Back-end Web Developer / Head Programmer</h4>
            <p>I think I am a nice person though have negligible weaknesses, have a good amount of likeable good qualities too. I am sincere and responsible. I am not a very intelligent student but sure I am dynamic as I am capable of managing and handling serious and difficult situations easily and finish all tasks well. I like to stay simple and uncomplicated and live joyously enjoying every moment of my life.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="Content/ako.JPG" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
                   <h2 class="display-5">Anthony Abutanmo lll</h2>
             <h4 class="display-5" style="color: red;">Front-end Web Developer / System Analyst</h4>
            <p>I think that I have not done justice to my potential in academics. I help my parents in carrying out their daily work. I am a good friend and try to help them In whatever way I can. I willingly take responsibilities given to me and perform effectively and do the best. I always try and help my brother and sister whenever they need me.
Aims in life/Qualities I would like to improve: I am putting all my efforts in my academics to do well. I am a bit short tempered but working on it. I am also working on all my flaws and developing them in the best possible way I can.</p>
        </div>
      </div>
    </div>
  </section>
<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
                  <h2 class="display-5">Jericho Taganas</h2>
             <h4 class="display-5" style="color: red;">Multimedia Specialist</h4>
            <img class="img-fluid rounded-circle" src="Content/taganas2.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            
<p>I am basically a kind hearted person and quite sympathetic and sensitive. I never lose an opportunity to help my friends or anyone else. I face all situations bravely and boldly. I am optimistic and ready for any adventurous task. I performed well as a  student through my academics and excelled in NCC and sports.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="Content/dalonos.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
    		        <h2 class="display-5" >Mark Dalonos</h2>
             <h4 class="display-5"  style="color: red;">Web Development / Project Manager</h4>
            <p>I am an optimistic, candid, responsible and social person. I am confident with my thinking analysis that I can convince people with my points. I am self-reliant, well behaved and above all, a person of strong character. I take initiative whenever the situation arises and come off with flying colours.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

 
      @if (Request.IsAuthenticated)
     {
    

<hr>





      
}

  @if(TempData["payment"] != null)
    {
    
    <script>    
    function func(nam) {
        alert(nam);
    }
    </script>
    
	<script src="~/Scripts/YourJsFileWherFuncIsDefined.js"></script>
	<script>func('@TempData["payment"].') 
	</script>   
    }






